@font-face {font-family: Pompadur;src: url(../fonts/10403.ttf);}
@font-face {font-family: "10755";src: url(../fonts/10755.otf);}
@font-face {font-family: PoiretOne-Regular;src: url(../fonts/PoiretOne-Regular.ttf);}
*{margin: 0; padding:0;}
.right_container{display: flex; justify-content: center;flex-flow: row wrap;} 
.good{margin-bottom:8px;width:226px;box-sizing:border-box;border:1px solid red;position:relative;z-index:0;margin-right:20px;background-color:#fff;}
.good a {color: #2f2f2f;font-family: verdana;text-decoration: none;}
.title_good {text-align: center;}
.brand_title {font-family: PoiretOne-Regular;font-weight: bold;color: red;padding: 3px;font-size: 16px;text-align: center;background: #eee;}
.price {
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    text-align: center;
    font-family: Josefin Sans, sans-serif;
    color: #fff;
    background: red;
}
.button_click {
    width: 99%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    padding: 3px;
}
.to_the_basket {
    font-size: 14px;
    width: 90%;
    padding: 6px 8px;
    background-color: red;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-family: Pompadur;
    
}
.to_the_basket:first-child{
	margin-right: 6px;
}
 @media screen and (max-width:650px){
   .good{
        margin:0;
        padding: 0;
        margin-bottom: 8px;
   }
}